extends layout/default

block scripts

append content
  .ui.button.tiny Tiny

  p

  a.ui.button.tiny Tiny

  p

  button.ui.button.tiny Tiny

  p

  .ui.button.tiny.compact Compact

  p

  a.ui.button.tiny.compact Compact

  p

  button.ui.button.tiny.compact Compact
